<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	 http://www.springframework.org/schema/tx 
  	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	

 	<!-- 开启事务自动提交，回滚 -->
	<!-- 以 @Transactional 标注来定义事务 -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" />
	
	<!-- 开启注解 -->
	<mvc:annotation-driven enable-matrix-variables="true" />
	
	<!-- 5. 使用声明式事务 transaction-manager：引用上面定义的事务管理器 -->
	<!-- 注解扫描包 自动扫描注解的bean -->
	<context:component-scan base-package="org.springframe"/>
	
	<!-- 启用注解配置 -->
	<context:annotation-config />

	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 文件上传解析器 id 必须为multipartResolver -->
	<!-- 配置文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		 <!-- 文件上传的bean 10*1024*1024 10M -->
		<property name="maxUploadSize" value="10485760" />
		<property name="maxInMemorySize" value="40960" />
	</bean>
	
</beans>